body {
  background-color: #50514f;
  font-family: Verdana, sans-serif;
}

h1, h3 {
  color: #2184FF;
  text-align: center;
}

fieldset {
  width: 25%;
  margin: auto;
  border-color: yellow;
  border-radius: 10px 25px;
  padding: 1%;
}

label {
  font-size: large;
  font-weight: 600;
  color: white;
}

legend {
  color: #A0F7F7;    
}

input, textarea {
  display: block;
  float: right;
  clear: right;
  text-align: left;
}

div {
  color: #2184FF;
  margin: auto;
  text-align: center;
}

table {
  margin: auto;
}

ul {
  text-align: center;
  color: #2184FF;
}

